$primary-color: rgb(17, 34, 62);
$secondary-color: rgba($primary-color, 0.5);

$color-red: #d0021b;
$color-blue: #006fee;
$color-green: #6eab27;
$color-orange: #f7924e;
$color-white: #fff;
$color-black: #1b1b1d;
$color-jaguar: #232327;
$color-violet: #8d30f9;

// font sizes
$fontSizeExtraSmall: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeExtraLarge: 20px;
$fontSizeModalTitle: 24px;
$fontSizeGreat: 32px;
$fontSizeTitanic: 40px;

$border-radius: 5px;
$transition-duration: 0.4s;
